.createButton {
  border-radius: 25px;
  width: 200px;
}

.tableButton {
  border-radius: 25px;
}

.filter {
  padding: 12px;
  text-align: center;
}

.mat-form-field {
  font-color: black;
  font-size: 14px;
  width: 25%;
}

table {
    width: 100%;
}
