<div class="loginDiv">
<mat-card class="loginCard">

<form [formGroup]="myForm" class="loginForm" (ngSubmit)="loginHandle()">

	<app-error-handle></app-error-handle>
  <mat-form-field class="formElement">
		<input matInput placeholder="email" formControlName="email">
		<mat-error>Please enter a valid email address</mat-error>
	</mat-form-field>

	<mat-form-field class="formElement">
    <input type="password" matInput placeholder="password" formControlName="password">
		<mat-error>Password is required</mat-error>
	</mat-form-field>

	<button [disabled]="myForm.invalid" class="submitButton" mat-flat-button color="accent">Log In</button>
</form>
</mat-card>

</div>
