<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
<div class="mat-typography app-frame mat-app-background" fxLayout="column">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar color="primary">
	<button *ngIf="!logged()" class="icon-button" mat-icon-button [routerLink]="['/backoffice']"><mat-icon class="icon">login</mat-icon></button>
	<button *ngIf="logged()" (click)="menu()" class="icon-button" mat-icon-button><mat-icon class="icon">menu</mat-icon></button>
  <button *ngIf="logged()" class="icon-button" mat-icon-button [routerLink]="['']"><mat-icon class="icon">home</mat-icon></button>
	<button *ngIf="logged()" (click)="logout()" class="icon-button" mat-icon-button><mat-icon class="icon">exit_to_app</mat-icon></button>
	<span><mat-spinner *ngIf="loading" color="accent" class="loadingSpinner" diameter="25" strokeWidth="5"></mat-spinner></span>
</mat-toolbar>

<router-outlet></router-outlet>

</div>
