html, body, app-root, .app-frame {
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    color: #e0e0e0;
}

body { font-family: Roboto, "Helvetica Neue", sans-serif; }
